* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --blue-dark: #1e6f9f;
  --blue: #4ea8de;

  --purple-dark: #5e60ce;
  --purple: #8284fa;

  --danger: #e25858;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
}

body {
  background-color: var(--gray-600);
}

body,
section,
h1,
button,
textarea,
p {
  font-family: 'Inter', sans-serif;
}
